<%= turbo_frame_tag 'new_product', target: '_top' do %>
  <%= render 'form', product: @product %>
<% end %>
<hr>

<% turbo_frame_tag 'new_product', src: new_product_path(@product), target: '_top' %>
<hr>

<%= turbo_frame_tag 'product', target: '_top' do %>
  <%= render 'shared/search_products' %>

  <table class="table is-hoverable is-fullwidth">
    <thead>
      <tr>
      <th>產品ID</th>
      <th>產品編號</th>
      <th>動作</th>
      </tr>
    </thead>
    <tbody>
        <%= render partial: 'products/product', collection: @products %>
    </tbody>
  </table>
<% end %>
      <%= turbo_frame_tag 'product_table' do %>
      <% end %>